<div id="mainBody">

  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
  </ul>

  <br>

  <div>
    <table class="table table-hover">
      <th>Company Name</th>
      <th>Data Rows</th>

      <% @companies.each do |company| %>
        <tr>
          <td><%= link_to(company.company_name, :controller => 'companies', :action => 'show', :id => company.id) %></td>
          <td><%= company.company_datum.length %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @companies, renderer: BootstrapPagination::Rails %>
  </div>

  <%= button_to "Add Company", new_company_path, :class => "btn btn-default", :method => :get %>

</div>